<page-header-wrapper [title]="tittle" onBack="{() => window.history.back()}">
  <nz-card [nzBordered]="false">
    <nz-row>
      <nz-col nzSm="16" nzXS="24" nzMd="16" class="padding-bottom-10">
        <button
          nz-button
          nzType="default"
          (click)="btnReload.click($event)"
          class="btn-reload"
          *ngIf="btnReload.visible && btnReload.grandAccess"
        >
          <i nz-icon nzType="reload" nzTheme="outline"></i>{{ btnReload.title }}
        </button>
        <button nz-button nzType="primary" (click)="btnAdd.click($event)" class="btn-primary" *ngIf="btnAdd.visible && btnAdd.grandAccess">
          <i nz-icon nzType="file-add" nzTheme="fill"></i>{{ btnAdd.title }}
        </button>
        <button
          nz-button
          nz-dropdown
          [nzDropdownMenu]="menu"
          *ngIf="btnExportExcel.visible && btnExportExcel.grandAccess"
          class="btn-excel"
        >
          <i nz-icon nzType="file-excel" nzTheme="outline"></i>
          Excel<i nz-icon nzType="down"></i>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <button
                nz-button
                nzType="primary"
                (click)="btnExportExcel.click($event)"
                class="btn-excel"
                *ngIf="btnExportExcel.visible && btnExportExcel.grandAccess"
              >
                <i nz-icon nzType="download" nzTheme="outline"></i>{{ btnExportExcel.title }}
              </button>
            </li>
          </ul>
        </nz-dropdown-menu>
        <button
          nz-button
          nzType="primary"
          class="btn-danger"
          (click)="btnDelete.click($event)"
          *ngIf="btnDelete.visible && btnDelete.grandAccess"
        >
          <i nz-icon nzType="delete" nzTheme="fill"></i>{{ btnDelete.title }}
        </button>
      </nz-col>
      <nz-col nzSm="8" nzXS="24" nzMd="8" class="pull-right padding-bottom-10">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" [(ngModel)]="filter.textSearch" nz-input placeholder="Nhập từ khóa tìm kiếm" (keyup.enter)="initGridData()" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button
            nz-button
            nzType="default"
            nzSearch
            (click)="filter.ShowAdSearch = !filter.ShowAdSearch; onResetSearch(true)"
            title="Tìm kiếm nâng cao"
          >
            <i nz-icon nzType="caret-down" nzTheme="outline" *ngIf="!filter.ShowAdSearch"></i>
            <i nz-icon nzType="caret-up" nzTheme="outline" *ngIf="filter.ShowAdSearch"></i>
          </button>
        </ng-template>
      </nz-col>
    </nz-row>
    <nz-row [hidden]="!filter.ShowAdSearch">
      <nz-col nzSm="8" nzXS="12" nzMd="8" class="padding-bottom-10">
        <nz-form-item class="margin-0">
          <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="status">Trạng thái</nz-form-label>
          <nz-form-control [nzSm]="15" [nzXs]="24">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn trạng thái" [(ngModel)]="filter.status">
              <nz-option *ngFor="let option of listStatus" [nzLabel]="option.name" [nzValue]="option.id"> </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>

      <nz-col nzSm="8" nzXS="12" nzMd="8" class="padding-bottom-10">
        <button
          nz-button
          nzType="primary"
          (click)="btnSearch.click($event)"
          class="btn-success"
          *ngIf="btnSearch.visible && btnSearch.grandAccess"
        >
          <i nz-icon nzType="search" nzTheme="outline"></i>{{ btnSearch.title }}
        </button>
        <!-- <button
              nz-button
              nzType="primary"
              (click)="btnResetSearch.click($event)"
              class="btn-warning"
              *ngIf="btnResetSearch.visible && btnResetSearch.grandAccess"
            >
              <i nz-icon nzType="reload" nzTheme="outline"></i>{{ btnResetSearch.title }}
            </button> -->
      </nz-col>
    </nz-row>
    <nz-row>
      <ag-grid-angular
        #agGrid
        style="width: 100%; height: 70vh"
        id="unit-grid"
        class="ag-theme-alpine"
        [modules]="modules"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [suppressRowClickSelection]="true"
        [rowSelection]="rowSelection"
        [rowData]="grid.rowData"
        (selectionChanged)="onSelectionChanged($event)"
        (cellDoubleClicked)="onCellDoubleClicked($event)"
        [overlayLoadingTemplate]="overlayLoadingTemplate"
        [overlayNoRowsTemplate]="overlayNoRowsTemplate"
        [frameworkComponents]="frameworkComponents"
        [excelStyles]="excelStyles"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
      <hr />
    </nz-row>
    <app-ag-grid-pagination
      [grid]="grid"
      [filter]="filter"
      [pageSizeOptions]="pageSizeOptions"
      (pageNumberChange)="onPageNumberChange()"
      (pageSizeChange)="onPageSizeChange()"
    ></app-ag-grid-pagination>
  </nz-card>
</page-header-wrapper>

<app-order-item
  #itemModal
  [isVisible]="modal.isShow"
  [item]="modal.item"
  [type]="modal.type"
  [option]="modal.option"
  (eventEmmit)="onModalEventEmmit($event)"
>
</app-order-item>

<delete-modal #deleteModal [isVisible]="isShowDelete" (eventEmmit)="onDeleteEventEmmit($event)"></delete-modal>
<div id="pdf" [hidden]="true">
  <div class="in-bao-gia-container">
    <div class="in-bao-gia-header">
      <div class="in-bao-gia-header-left"><img src="../../../../../assets/img/Logo.png" /></div>
      <div class="in-bao-gia-header-right">
        <p class="ten-cong-ty">CÔNG TY CỔ PHẦN MÁY TÍNH VÂN ANH</p>
        <p>Trụ sở chính: Hà nội</p>
        <p>Hà nội</p>
        <p>Hotline: 0888888888 * Website: www.vananhcomputer.vn</p>
      </div>
    </div>
    <div class="in-bao-gia-title">HÓA ĐƠN BÁN HÀNG</div>

    <div class="row">
      <div class="col-md-6">
        <p>Khách hàng: {{ itemPrint ? itemPrint.name : '' }}</p>
        <p>Số điện thoại: {{ itemPrint ? itemPrint.phoneNumber : '' }}</p>
        <p>Địa chỉ: {{ itemPrint ? itemPrint.addressDetail : '' }}</p>
        <p>Phường/Xã: {{ itemPrint ? itemPrint.commune : '' }}</p>
        <p>Quận/Huyện: {{ itemPrint ? itemPrint.district : '' }}</p>
        <p>Tỉnh/Thành phố: {{ itemPrint ? itemPrint.city : '' }}</p>
      </div>
      <div class="col-md-6">
        <div class="date-currency">
          <p>
            Ngày báo giá: <span id="price_time">{{ currentDate | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
          </p>
          <p>Đơn vị tính: <span class="currency">VNĐ</span></p>
        </div>
      </div>
    </div>
    <table class="list_table">
      <tbody>
        <tr style="white-space: nowrap; background-color: #f5f5f5">
          <td><strong>STT </strong></td>
          <td><strong>Mã SP</strong></td>
          <td><strong>Hình ảnh</strong></td>
          <td colspan="2"><strong>Tên sản phẩm</strong></td>
          <td><strong>Số Seri</strong></td>
          <td><strong>Bảo hành</strong></td>
          <td><strong>Số lượng</strong></td>
          <td><strong>Đơn giá</strong></td>
          <td><strong>Thành tiền</strong></td>
        </tr>
        <!--  -->

        <tr *ngFor="let prod of itemPrint ? (itemPrint.listProducts ? itemPrint.listProducts : []) : []; let i = index" valign="middle">
          <td>{{ i + 1 }}</td>
          <td>{{ prod.code }}</td>
          <td><img [src]="baseFile + prod.pictures[0]" align="absmiddle" width="120" /></td>
          <td colspan="2">
            <b>{{ prod.name }}</b
            ><br />
          </td>
          <td align="center">{{ prod.serialNumber }}</td>
          <td align="center">{{ prod.thoiGianBaoHanh + prod.loaiBaoHanh }}</td>
          <td align="center">{{ prod.count }}</td>
          <td align="center">{{ prod.price - prod.discount | currency: 'VND' }}</td>
          <!--<td align="center"><br />
 <b>Notice</b>:  Undefined index: totalPrice in <b>/var/www/html/hanoicomputer.vn/public_html/cache/template/shopping_cart_new.2a23035172ef151290d8e2b9e615fc28.php</b> on line <b>86</b><br />
 0 VNĐ</td>-->
          <td>
            {{ (prod.price - prod.discount) * prod.count | currency: 'VND' }}
          </td>
        </tr>
        <tr>
          <td colspan="7"></td>
          <td colspan="2"><strong>Phí vận chuyển</strong></td>
          <td>
            <strong style="color: red">{{ (itemPrint ? itemPrint.shipping : 0) | currency: 'VND' }}</strong>
          </td>
        </tr>
        <tr>
          <td colspan="7"></td>
          <td colspan="2"><strong>Mã giảm giá</strong></td>
          <td>
            <strong style="color: red">{{ (itemPrint ? itemPrint.discount : 0) | currency: 'VND' }}</strong>
          </td>
        </tr>
        <tr>
          <td colspan="7"></td>
          <td colspan="2"><strong>Tổng tiền đơn hàng</strong></td>
          <td>
            <strong style="color: red">{{ (itemPrint ? itemPrint.grandTotal : 0) | currency: 'VND' }}</strong> <br />

            <strong *ngIf="itemPrint && itemPrint.phuongThucThanhToan === 2" style="color: red">(Đã thanh toán)</strong>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <div class="print-button">
      <button href="javascript:window.print()" style="cursor: pointer;" class="nut-do">In đơn hàng</button>
    </div> -->
    <div class="in-bao-gia-footer">
      <p>
        <i class="fas fa-exclamation-circle"></i> Quý khách lưu ý: Giá bán, khuyến mại của sản phẩm và tình trạng còn hàng có thể bị thay
        đổi bất cứ lúc nào mà không kịp báo trước.
      </p>
    </div>
    <div class="in-bao-gia-footer center">
      <p>Để biết thêm chi tiết, vui lòng liên hệ:</p>
      <p>Hotline: 0888888888 (8h00-21h30 hàng ngày)</p>
      <p>Email: <a href="mailto:abc@gmail.com">abc@gmail.com</a></p>
      <p>VÂN ANH COMPUTER CHÂN THÀNH CẢM ƠN QUÝ KHÁCH HÀNG!</p>
    </div>
  </div>
</div>
