<div class="container">
  <pro-langs class="langs" btnClass></pro-langs>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg" />
        <span class="title">Vân Anh Computer</span>
      </div>
      <div class="desc">Quản trị hệ thống</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i nz-icon nzType="copyright" class="mx-sm"></i>
      {{ year }}
      <a href="{{ feUrl }}" target="_blank" class="mx-sm">vananhcomputer.xyz</a>
    </global-footer>
  </div>
</div>
