<footer style="background-color: #202c43" id="aa-footer">
  <!-- footer bottom -->
  <div class="aa-footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div
            style="height: 200px"
            class="fb-page"
            data-href="https://www.facebook.com/profile.php?id=100066815273527"
            data-tabs="timeline"
            data-width=""
            data-height=""
            data-small-header="false"
            data-adapt-container-width="true"
            data-hide-cover="false"
            data-show-facepile="true"
          >
            <blockquote cite="https://www.facebook.com/profile.php?id=100066815273527" class="fb-xfbml-parse-ignore">
              <a href="https://www.facebook.com/profile.php?id=100066815273527">Vân Anh Computer</a>
            </blockquote>
          </div>
        </div>
        <div class="col-md-8">
          <div class="aa-footer-top-area">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget">
                    <p style="color: #888">
                      Vân Anh Computer chuyên Laptop Gaming MSI & Asus & Acer, máy tính PC chính hãng. Mang đến cho khách hàng giải pháp xây
                      dựng máy tính hoàn chỉnh.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget">
                    <h3>Kết nối với chúng tôi</h3>
                    <p style="color: #888">
                      <i class="fas fa-address-card"></i> Số nhà 54, ngách 225/7 đường Quan Hoa, Quận Cầu Giấy, Hà Nội
                    </p>
                    <p style="color: #888"><span class="fa fa-phone"></span>+Hà nội</p>
                    <p style="color: #888"><span class="fa fa-envelope"></span>abc@gmail.com</p>

                    <div class="aa-footer-social">
                      <a class="socical btn-fb" href="https://facebook.com/minhvu1502" target="_blank"
                        ><span class="fab fa-facebook"></span
                      ></a>
                      <a class="socical btn-instagram" target="_blank" href="https://instagram.com/minhvu1502"
                        ><span class="fab fa-instagram"></span
                      ></a>
                      <a class="socical btn-twitter" target="_blank" href="https://twitter.com"><span class="fab fa-twitter"></span></a>
                      <a class="socical btn-google" target="_blank" href="https://google.com"><span class="fab fa-google-plus"></span></a>
                      <a class="socical btn-youtube" target="_blank" href="https://www.youtube.com/channel/UCr4JvsMzS71c97sOLbA2hNg"
                        ><span class="fab fa-youtube"></span
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer-bottom -->
  <div class="aa-footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-footer-bottom-area">
            <p>Designed by <a href="http://www.markups.io/">Minh Vũ</a></p>
            <div class="aa-footer-payment">
              <i class="fab fa-cc-mastercard"></i>
              <i class="fab fa-cc-visa"></i>
              <i class="fab fa-paypal"></i>
              <i class="fab fa-cc-discover"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
