<section style="background-color: #202c43" id="aa-support">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-support-area">
          <!-- single support -->
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="aa-support-single">
              <img src="../../../../assets/img/parcel.png" alt="" />
              <h4>CHÍNH SÁCH GIAO HÀNG</h4>
              <P>Nhận hàng và thanh toán tại nhà</P>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="aa-support-single">
              <img src="../../../../assets/img/delivery-truck-64x64.png" alt="" />
              <h4>MIỄN PHÍ VẬN CHUYỂN</h4>
              <P>Miễn phí vận chuyển nội thành</P>
            </div>
          </div>
          <!-- single support -->
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="aa-support-single">
              <img src="../../../../assets/img/return-64x64.png" alt="" />
              <h4>ĐỔI MỚI DỄ DÀNG</h4>
              <P>Dùng thử trong vòng 3 ngày</P>
            </div>
          </div>
          <!-- single support -->
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="aa-support-single">
              <img src="../../../../assets/img/support-64x64.png" alt="" />
              <h4>HỖ TRỢ 24/7</h4>
              <P>Tư vấn, giải đáp mọi thắc mắc</P>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
