.slide-button {
  display: inline-block;
  width: 478px;
  height: 50px;
  margin: 0;
  margin: 5px;
  padding: 0;
  overflow: hidden;
  color: #243a76;
  font-weight: 600;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  background: #fff;
  border: 1px solid #243a76;
  border-radius: 5px;
}
.no-result {
  display: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 600px;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  color: #b83641;
  font-size: 14px;
  background: #efd8da;
  border: solid 1px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
