<div>
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10" style="margin-top: 20px; margin-bottom: 20px">
      <div style="text-align: center">
        <h1 style="font-size: 24px; text-transform: uppercase">TRA CỨU THÔNG TIN BẢO HÀNH CỦA SẢN PHẨM</h1>
        <div style="width: 400px; margin: 10px auto; border-top: solid 1px #ddd"></div>
        <div class="title-form">
          <span><b>1</b></span> Tra cứu thời hạn bảo hành của sản phẩm
        </div>
        <nz-input-group style="width: 50%" [nzSuffix]="suffixIconSearch">
          <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
          </ng-template>
          <input type="text" nz-input [(ngModel)]="serialFilter" placeholder="Nhập seri sản phẩm để tra cứu" />
        </nz-input-group>
        <button (click)="checkInsuranceBySerial()" nz-button nzType="danger">
          <i nz-icon nzType="search"></i>
          Search
        </button>
        <div class="no-result" *ngIf="noResult" id="no-result-warranty" style="display: block">
          <i class="fa fa-exclamation-triangle"></i> Không có dữ liệu! Thông tin bảo hành không đúng hoặc không tồn tại. Quý khách có thể
          liên hệ tổng đài hỗ trợ bảo hành để được trợ giúp!
        </div>
        <div class="result" *ngIf="result" style="margin-top: 20px">
          <div style="display: block">
            <div>
              Tên khách hàng: <b>{{ insuranceModel.customerName }}</b>
            </div>
            <div>
              Ngày mua: <b>{{ insuranceModel.orderDate | date: 'dd/MM/yyyy HH:mm:ss' }}</b>
            </div>
          </div>
          <nz-table [nzData]="datas">
            <thead>
              <tr>
                <th>Tên sản phẩm</th>
                <th>Thời gian bảo hành</th>
                <th>Trạng thái</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ insuranceModel.productName }}</td>
                <td>{{ insuranceModel.insuranceTime }}</td>
                <td></td>
              </tr>
            </tbody>
          </nz-table>
        </div>
        <div
          style="
            margin-top: 30px;
            margin-bottom: 30px;
            padding-top: 30px;
            padding-bottom: 25px;
            line-height: 1.5;
            border-top: dashed 1px #ddd;
            border-bottom: solid 1px #ddd;
          "
        >
          <p style="text-align: center">
            Đến với VANANHCOMPUTER, khách hàng không chỉ được đảm bảo yên tâm về chất lượng hàng chuẩn chính hãng mà còn được tận hưởng
            nhiều chính sách tốt nhất.
          </p>
          <div class="hang-bao-hanh-container">
            <a class="slide-button" href="https://www.hanoicomputer.vn/chinh-sach-giao-hang" target="_blank">Giao hàng nhanh trong 2h</a>
            <!-- <a class="slide-button" href="https://thongtin.hanoicomputer.vn/chinh-sach/chinh-sach-van-chuyen/" target="_blank">Vận chuyển miễn phí tới 300 km</a> -->
            <a class="slide-button" href="https://www.hanoicomputer.vn/chinh-sach-doi-tra-hang" target="_blank"
              >Bảo hành đổi trả hàng đến 15 ngày</a
            >
            <a class="slide-button" href="https://www.hanoicomputer.vn/chinh-sach-bao-hanh" target="_blank"
              >Bảo trì, bảo dưỡng tại nơi sử dụng</a
            >
            <a class="slide-button" href="https://www.hanoicomputer.vn/chinh-sach-cho-doanh-nghiep" target="_blank"
              >Bảo hành tận nơi cho doanh nghiệp</a
            >
            <a class="slide-button" href="https://www.hanoicomputer.vn/chinh-sach-hang-chinh-hang" target="_blank"
              >Sản phẩm chính hãng, giá tốt nhất</a
            >
            <a
              class="slide-button"
              href="https://news.hanoicomputer.vn/den-hanoicomputer-ve-sinh-may-tinh-mien-phi-tren-toan-he-thong/"
              target="_blank"
              >Vệ sinh Laptop, PC miễn phí</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
