<div class="align-center" nz-row nzGutter="8">
  <div style="margin: 10px 0 10px 0" nz-col [nzXl]="12" [nzLg]="22" [nzMd]="22" [nzSm]="22">
    <div class="title-login">Đăng nhập</div>
    <br />
    <hr />
    <form nz-form [formGroup]="formLogin" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="username">Tài khoản hoặc Email </nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập tài khoản!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="username" placeholder="Tài khoản" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="username">Mật khẩu</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu!">
          <nz-input-group [nzSuffix]="suffixTemplate">
            <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Mật khẩu" formControlName="password" />
          </nz-input-group>
          <ng-template #suffixTemplate>
            <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="recaptcha" nzRequired>Captcha: </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="formLogin.controls['recaptcha']" nzErrorTip="Trường này là bắt buộc!">
          <ngx-recaptcha2
            #captchaElem
            [siteKey]="reCaptchaKey"
            [useGlobalDomain]="false"
            [size]="'normal'"
            [hl]="'vi'"
            [theme]="'light'"
            [type]="'image'"
            formControlName="recaptcha"
          >
          </ngx-recaptcha2>
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="rememberMe">
            <span>Nhớ mật khẩu</span>
          </label>
        </div>
      </div>
      <button
        [nzLoading]="isLoading"
        nz-col
        [nzSpan]="24"
        style="width: 100%"
        nz-button
        class="login-form-button login-form-margin"
        [nzType]="'primary'"
      >
        Đăng nhập
      </button>
      <div class="twitter">
        <a href="javascript:void(0)" (click)="signInWithGoogle()"><i class="fab fa-google"></i> Sign in With Google</a>
      </div>
      <div class="facebook">
        <a href="javascript:void(0)" (click)="signInWithFB()"><i class="fab fa-facebook-f"></i>Sign in With Facebook</a>
      </div>
      <p class="aa-lost-password"><a href="javascript:void(0)" [routerLink]="['/forgot-password']">Quên mật khẩu?</a></p>
      <div class="aa-register-now">Bạn chưa có tài khoản?<a [routerLink]="['/register']" href="javascript:void(0)">Đăng ký ngay!</a></div>
    </form>
  </div>
</div>
