<div class="row">
  <div style="margin-top: 20px; margin-bottom: 20px" class="col-12">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container col-sm-6">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                      <p>
                        <span style="font-family: helvetica, arial, sans-serif"
                          ><strong><span style="font-size: 14pt">VANANHCOMPUTER HÀ NỘI</span></strong></span
                        >
                      </p>
                      <ul>
                        <li style="list-style-type: none">
                          <ul>
                            <li style="list-style-type: none">
                              <ul>
                                <li>
                                  <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                                    ><strong>Địa chỉ:</strong>&nbsp;Hà nội</span
                                  >
                                </li>
                                <li>
                                  <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                                    ><strong>Điểm bảo hành:</strong> Hà nội</span
                                  >
                                </li>
                                <li>
                                  <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                                    ><strong>Điện thoại:</strong>&nbsp;+Hà nội.</span
                                  >
                                </li>
                                <li>
                                  <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                                    ><strong>Phòng kinh doanh:</strong>&nbsp;<a
                                      href="mailto:sales@VANANHCOMPUTER.vn"
                                      target="_blank"
                                      rel="noopener noreferrer"
                                      >sales@VANANHCOMPUTER.vn</a
                                    ></span
                                  >
                                </li>
                                <li>
                                  <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                                    ><strong>Hỗ&nbsp;trợ kỹ thuật:</strong>&nbsp;<a
                                      href="mailto:hotro@VANANHCOMPUTER.vn"
                                      target="_blank"
                                      rel="noopener noreferrer"
                                      >hotro@VANANHCOMPUTER.vn</a
                                    ></span
                                  >
                                </li>
                                <li>
                                  <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                                    ><strong>Phản ánh chất lượng dịch vụ :</strong>&nbsp;093 183 4446</span
                                  >
                                </li>
                              </ul>
                            </li>
                          </ul>
                          <ul>
                            <li style="list-style-type: none">
                              <ul>
                                <li>
                                  <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                                    ><strong>Giờ làm việc:</strong></span
                                  >
                                  <ul style="list-style-type: circle">
                                    <li>
                                      <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif">T2-T7: 9AM – 6:30 PM</span>
                                    </li>
                                    <li>
                                      <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif">Chủ nhật: 10AM – 4PM</span>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container ol-sm-6">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                      <p>
                        <span style="font-family: helvetica, arial, sans-serif"
                          ><strong><span style="font-size: 14pt">VANANHCOMPUTER HƯNG YÊN</span></strong></span
                        >
                      </p>
                      <ul>
                        <li>
                          <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                            ><strong>Showroom:</strong>&nbsp;Hà nội</span
                          >
                        </li>
                        <li>
                          <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                            ><strong>Điểm bảo hành:</strong> Hà nội</span
                          >
                        </li>
                        <li>
                          <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                            ><strong>Điện thoại:</strong>&nbsp;+Hà nội.</span
                          >
                        </li>
                        <li>
                          <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                            ><strong>Phòng kinh doanh:</strong>&nbsp;<a
                              href="mailto:sales@VANANHCOMPUTER.vn"
                              target="_blank"
                              rel="noopener noreferrer"
                              >sales@VANANHCOMPUTER.vn</a
                            ></span
                          >
                        </li>
                        <li>
                          <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                            ><strong>Hỗ&nbsp;trợ kỹ thuật:</strong>&nbsp;<a
                              href="mailto:hotro@VANANHCOMPUTER.vn"
                              target="_blank"
                              rel="noopener noreferrer"
                              >hotro@VANANHCOMPUTER.vn</a
                            ></span
                          >
                        </li>
                        <li>
                          <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                            ><strong>Phản ánh chất lượng dịch vụ :</strong>&nbsp;093 183 4446</span
                          >
                        </li>
                      </ul>
                      <ul>
                        <li>
                          <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"><strong>Giờ làm việc:</strong></span>
                          <ul>
                            <li><span style="font-size: 14pt; font-family: helvetica, arial, sans-serif">T2-T7: 9AM – 8PM</span></li>
                            <li><span style="font-size: 14pt; font-family: helvetica, arial, sans-serif">Chủ nhật: 10AM – 7PM</span></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <nz-card style="width: 100%" nzTitle="Hỏi đáp về chúng tôi">
            <div class="fb-comments" [attr.href]="feUrl" data-width="100%" data-numposts="20"></div>
          </nz-card>
        </div>
      </div>
    </div>
  </div>
</div>
