<!-- product category -->
<div class="row">
  <div class="col-md-10 offset-md-1">
    <!-- <nz-skeleton [nzActive]="true" *ngIf="isLoading"></nz-skeleton> -->
    <nz-spin class="item-center" style="margin-top: 200px; margin-bottom: 200px" *ngIf="isLoading" nzSimple [nzSize]="'large'"></nz-spin>
    <section *ngIf="!isLoading" id="aa-product-details">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-product-details-area">
            <div class="aa-product-details-content">
              <ul class="breadcrumb">
                <li><a href="javascript:void(0)" [routerLink]="'/home'">Trang chủ</a></li>
                <li>Chi tiết sản phẩm</li>
                <li>{{ itemQuickView.name }}</li>
              </ul>
              <div class="row">
                <!-- Modal view slider -->
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <lib-ngx-image-zoom
                    [thumbImage]="myThumbnail"
                    [fullImage]="myThumbnail"
                    [magnification]="2"
                    [enableScrollZoom]="true"
                    [enableLens]="true"
                    [lensWidth]="'150'"
                    [lensHeight]="'150'"
                    [circularLens]="true"
                  >
                  </lib-ngx-image-zoom>
                  <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                      <!-- Controls -->
                      <div class="controls pull-right hidden-xs">
                        <a class="left fa fa-chevron-left btn btn-success" href="#list-picture" data-slide="prev"></a
                        ><a class="right fa fa-chevron-right btn btn-success" href="#list-picture" data-slide="next"></a>
                      </div>
                    </div>
                  </div>
                  <div id="list-picture" class="carousel slide hidden-xs" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="row">
                              <div
                                (click)="changePicture(item)"
                                *ngFor="let item of itemQuickView ? itemQuickView.listPicturesActive : []"
                                class="col-md-3 col-sm-6"
                              >
                                <img class="pic-prod" style="width: 100px; height: 100px" src="{{ baseFile + item }}" alt="" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngFor="let pic of itemQuickView ? itemQuickView.listPicturesRs : []" class="item">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="row">
                              <div (click)="changePicture(item)" *ngFor="let item of pic" class="col-md-3 col-sm-6">
                                <img class="pic-prod" style="width: 100px; height: 100px" src="{{ baseFile + item }}" alt="" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal view content -->
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="aa-product-view-content">
                    <h3>{{ itemQuickView ? itemQuickView.name : '' }}</h3>
                    <div class="row">
                      <div class="col-md-6 col-xs-6">
                        <p style="float: left">
                          Lượt xem:
                          <nz-tag [nzColor]="'#108ee9'">{{ itemQuickView ? itemQuickView.visitCount : '' }}</nz-tag>
                        </p>
                      </div>

                      <div class="col-md-6 col-xs-6">
                        <p style="float: right" class="aa-product-avilability">
                          Trạng thái: <nz-tag [nzColor]="'green'"> Còn hàng </nz-tag>
                        </p>
                      </div>
                      <div
                        class="fb-like col-md-12 col-xs-12"
                        [attr.href]="urlComment"
                        data-width=""
                        data-layout="standard"
                        data-action="like"
                        data-size="small"
                        data-share="true"
                      ></div>
                    </div>
                    <nz-rate [ngModel]="itemQuickView.rating" nzDisabled></nz-rate>
                    <br />
                    <span class="text-label">Giá bán: </span
                    ><span class="{{ itemQuickView.cssClass }}">{{ itemQuickView.price | currency: 'VND' | lowercase }}</span>
                    <br />
                    <div *ngIf="itemQuickView.isShow">
                      <span class="text-label">Giá khuyến mãi:</span>
                      <span class="text-price-discount">
                        {{ itemQuickView.price - itemQuickView.discount | currency: 'VND' | lowercase }}</span
                      >
                    </div>
                    <br />
                    <span class="text-label">Thông tin sảm phẩm: </span>
                    <span>{{ itemQuickView ? itemQuickView.summary : '' }}</span>
                    <br />
                    <span class="text-label">Thời gian bảo hành: </span>
                    <span class="text-price-discount">{{
                      itemQuickView ? itemQuickView.thoiGianBaoHanh + ' ' + itemQuickView.loaiBaoHanh : ''
                    }}</span>
                    <br />
                    <br />
                    <div class="aa-prod-quantity">
                      <p class="aa-prod-category">
                        <span class="text-label">Loại sản phẩm: </span
                        ><a *ngFor="let item of itemQuickView ? itemQuickView.categoryName : []" href="#">
                          <nz-tag [nzColor]="'#f50'">{{ item }}</nz-tag>
                        </a>
                      </p>
                      <br />
                      <p class="aa-prod-category">
                        <span class="text-label">Tag: </span
                        ><a *ngFor="let item of itemQuickView ? itemQuickView.tagName : []" href="#">
                          <nz-tag [nzColor]="'lime'">{{ item }}</nz-tag>
                        </a>
                      </p>
                    </div>
                    <span class="text-label"><b>Thông tin bổ sung: </b></span>
                    <div class="row">
                      <div class="col-md-12">
                        <nz-table [nzPageSize]="10" #basicTable [nzData]="itemQuickView ? itemQuickView.listCategoryMetaProducts : []">
                          <thead>
                            <tr>
                              <th>Mã</th>
                              <th>Nội dung</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let data of itemQuickView ? basicTable.data : []">
                              <td>{{ data.categoryMetaName }}</td>
                              <td>{{ data.content }}</td>
                            </tr>
                          </tbody>
                        </nz-table>
                      </div>
                    </div>
                    <div class="item-center aa-prod-view-bottom">
                      <a (click)="addToCart(itemQuickView)" href="javascript:void(0)" style="margin-right: 20px" class="aa-add-to-cart-btn"
                        ><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="aa-product-details-bottom">
                  <ul class="nav nav-tabs item-center" id="myTab2">
                    <li><a href="#description" data-toggle="tab">Chi tiết sản phẩm</a></li>
                    <li><a href="#review" data-toggle="tab">Bình luận, Đánh giá</a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div class="tab-pane fade in active" id="description">
                      <div [innerHTML]="itemQuickView.description"></div>
                    </div>
                    <div class="tab-pane fade" id="review">
                      <nz-card style="width: 100%" nzTitle="Hỏi đáp về sản phẩm">
                        <div class="fb-comments" [attr.href]="urlComment" data-width="100%" data-numposts="5"></div>
                      </nz-card>
                      <nz-card style="width: 100%" nzTitle="Khách hàng chấm điểm, đánh giá, nhận xét">
                        <div class="aa-product-review-area">
                          <h4>{{ listRs.length }} đánh giá về {{ itemQuickView.code }}</h4>
                          <ng-template #commentTemplateRef let-comment="comment">
                            <nz-comment [nzAuthor]="comment.userName" [nzDatetime]="comment.createdDate">
                              <nz-avatar nz-comment-avatar [nzIcon]="'user'" [nzSrc]="comment.avatarUrl"></nz-avatar>
                              <nz-comment-content> </nz-comment-content>
                              <nz-comment-content>
                                <nz-rate *ngIf="comment.isRoot === true" [ngModel]="comment.rating" nzDisabled> </nz-rate>
                              </nz-comment-content>
                              <nz-comment-content>
                                <div [innerHTML]="comment.content"></div>
                              </nz-comment-content>
                              <nz-comment-action
                                ><span [hidden]="comment.checked === true" (click)="openReply(comment.id)">Trả lời</span></nz-comment-action
                              >
                              <nz-comment-content [hidden]="comment.checked === false" *ngIf="comment.checked === true">
                                <nz-form-item>
                                  <textarea [(ngModel)]="inputValue" nz-input rows="4"></textarea>
                                </nz-form-item>
                                <nz-form-item>
                                  <button
                                    nz-button
                                    nzType="primary"
                                    [nzLoading]="submitting"
                                    [disabled]="!inputValue"
                                    (click)="submitComment(comment.id, 2)"
                                  >
                                    Trả lời
                                  </button>
                                  <button style="margin-left: 15px" nz-button nzType="primary" (click)="handleClose(comment.id)">
                                    Đóng
                                  </button>
                                </nz-form-item>
                              </nz-comment-content>
                              <ng-container *ngIf="comment.children && comment.children.length">
                                <ng-template ngFor let-child [ngForOf]="comment.children">
                                  <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ comment: child }">
                                  </ng-template>
                                </ng-template>
                              </ng-container>
                            </nz-comment>
                          </ng-template>

                          <div *ngFor="let item of listRs | slice: (pageIndex - 1) * pageSizes:(pageIndex - 1) * pageSizes + pageSizes">
                            <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ comment: item }">
                            </ng-template>
                            <hr />
                          </div>
                          <nz-pagination
                            style="float: right; margin-top: 15px"
                            [(nzPageIndex)]="pageIndex"
                            [(nzPageSize)]="pageSizes"
                            [nzTotal]="listRs.length"
                          >
                          </nz-pagination>
                          <h4>Thêm đánh giá</h4>
                          <div class="aa-your-rating">
                            <p>Bạn đánh giá</p>
                            <nz-rate [(ngModel)]="value" [nzTooltips]="tooltips"></nz-rate>
                            <span *ngIf="value" class="ant-rate-text">{{ value ? tooltips[value - 1] : '' }}</span>
                          </div>
                          <!-- review form -->
                          <form action="" class="aa-review-form">
                            <div class="form-group">
                              <nz-comment>
                                <nz-avatar
                                  nz-comment-avatar
                                  [routerLink]="'/account-detail'"
                                  nzIcon="user"
                                  [nzSrc]="token ? userInfo.avatar : ''"
                                >
                                </nz-avatar>
                                <nz-comment-content>
                                  <nz-form-item>
                                    <ckeditor
                                      [ngModelOptions]="{ standalone: true }"
                                      nz-col
                                      nzSpan="24"
                                      [(ngModel)]="inputReview"
                                      style="width: 500px !important"
                                      [editor]="Editor"
                                    >
                                    </ckeditor>
                                  </nz-form-item>
                                </nz-comment-content>
                              </nz-comment>
                            </div>

                            <button type="button" (click)="submitComment(null, 1)" class="btn btn-default aa-review-submit">
                              Đánh giá
                            </button>
                          </form>
                        </div>
                      </nz-card>
                    </div>
                  </div>
                </div>
                <!-- Related product -->
                <div class="aa-product-related-item">
                  <h3>Sản phẩm tương tự</h3>
                  <div nz-row>
                    <div nz-col nzSpan="24">
                      <div class="controls pull-right">
                        <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example1" data-slide="prev"></a
                        ><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example1" data-slide="next"></a>
                      </div>
                    </div>
                    <div nz-col nzSpan="24">
                      <div id="carousel-example1" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div *ngFor="let item of listSimilarActive" class="col-md-2 col-sm-4">
                                    <div class="product-grid4">
                                      <div class="product-image4">
                                        <a href="javascript:void(0)" (click)="viewDetail(item.code)">
                                          <img class="pic-1" [src]="baseFile + item.pictures[0]" />
                                          <img
                                            class="pic-2"
                                            [src]="baseFile + (item.pictures.length > 1 ? item.pictures[1] : item.pictures[0])"
                                          />
                                        </a>
                                        <ul class="social">
                                          <li (click)="updateVisitCount(item.code, item)">
                                            <a href="javascript:void(0)" data-tip="Xem nhanh"><i class="fa fa-eye"></i></a>
                                          </li>
                                          <li>
                                            <a href="#" data-tip="Yêu thích"><i class="fas fa-shopping-bag"></i></a>
                                          </li>
                                          <li (click)="addToCart(item)">
                                            <a href="javascript:void(0)" data-tip="Thêm vào giỏ hàng"
                                              ><i class="fa fa-shopping-cart"></i
                                            ></a>
                                          </li>
                                        </ul>
                                        <span class="product-new-label">HOT</span>
                                        <span class="product-discount-label" *ngIf="item.discount !== 0"
                                          >-{{ (item.discount / item.price) * 100 | number: '1.0-0' }}%</span
                                        >
                                      </div>
                                      <div (click)="viewDetail(item.code)" class="product-content">
                                        <h4 class="name-text title" title="{{ item.name }}">
                                          <a href="javascript:void(0)">{{ item.name }}</a>
                                        </h4>
                                        <h5 style="color: skyblue">Lượt xem: {{ item.visitCount }}</h5>
                                        <nz-rate [ngModel]="item.rating" nzDisabled></nz-rate>
                                        <div class="price">
                                          {{ item.price - item.discount | currency: 'VND' | lowercase }}
                                          <span *ngIf="item.discount > 0">{{ item.price | currency: 'VND' | lowercase }}</span>
                                        </div>
                                        <!-- <a class="add-to-cart" href="">THÊM VÀO GIỎ HÀNG</a> -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div *ngFor="let prodResult of listSimilarRs" class="item">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div *ngFor="let item of prodResult" class="col-md-2 col-sm-4">
                                    <div class="product-grid4">
                                      <div class="product-image4">
                                        <a href="javascript:void(0)" (click)="viewDetail(item.code)">
                                          <img class="pic-1" [src]="baseFile + item.pictures[0]" />
                                          <img
                                            class="pic-2"
                                            [src]="baseFile + (item.pictures.length > 1 ? item.pictures[1] : item.pictures[0])"
                                          />
                                        </a>
                                        <ul class="social">
                                          <li (click)="updateVisitCount(item.code, item)">
                                            <a href="javascript:void(0)" data-tip="Xem nhanh"><i class="fa fa-eye"></i></a>
                                          </li>
                                          <li>
                                            <a href="#" data-tip="Yêu thích"><i class="fas fa-shopping-bag"></i></a>
                                          </li>
                                          <li (click)="addToCart(item)">
                                            <a href="javascript:void(0)" data-tip="Thêm vào giỏ hàng"
                                              ><i class="fa fa-shopping-cart"></i
                                            ></a>
                                          </li>
                                        </ul>
                                        <span class="product-new-label">HOT</span>
                                        <span class="product-discount-label" *ngIf="item.discount !== 0"
                                          >-{{ (item.discount / item.price) * 100 | number: '1.0-0' }}%</span
                                        >
                                      </div>
                                      <div (click)="viewDetail(item.code)" class="product-content">
                                        <h3 class="title" class="name-text" title="{{ item.name }}">
                                          <a href="javascript:void(0)">{{ item.name }}</a>
                                        </h3>
                                        <h5 style="color: skyblue">Lượt xem: {{ item.visitCount }}</h5>
                                        <nz-rate [ngModel]="item.rating" nzDisabled></nz-rate>
                                        <div class="price">
                                          {{ item.price - item.discount | currency: 'VND' | lowercase }}
                                          <span *ngIf="item.discount > 0">{{ item.price | currency: 'VND' | lowercase }}</span>
                                        </div>
                                        <!-- <a class="add-to-cart" href="">THÊM VÀO GIỎ HÀNG</a> -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- / product category -->
<nz-modal
  [nzAutofocus]="null"
  [(nzVisible)]="isVisible"
  [nzAutofocus]="null"
  nzTitle="Thông tin sản phẩm {{ itemSimilarView ? itemSimilarView.code : '' }}"
  nzWidth="1200px"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <div class="row">
      <!-- Modal view slider -->
      <div class="col-md-6 col-sm-12 col-xs-12">
        <lib-ngx-image-zoom
          [thumbImage]="myThumbnail"
          [fullImage]="myThumbnail"
          [magnification]="2"
          [enableScrollZoom]="true"
          [enableLens]="true"
          [lensWidth]="'200'"
          [lensHeight]="'200'"
          [circularLens]="true"
        >
        </lib-ngx-image-zoom>
        <div class="row">
          <div class="col-md-9"></div>
          <div class="col-md-3">
            <!-- Controls -->
            <div class="controls pull-right">
              <a class="left fa fa-chevron-left btn btn-success" href="#list-picture" data-slide="prev"></a
              ><a class="right fa fa-chevron-right btn btn-success" href="#list-picture" data-slide="next"></a>
            </div>
          </div>
        </div>
        <div id="list-picture" class="carousel slide hidden-xs" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div
                      (click)="changePicture(item)"
                      *ngFor="let item of itemSimilarView ? itemSimilarView.listPicturesActive : []"
                      class="col-md-3 col-sm-6"
                    >
                      <img class="pic-prod" style="width: 100px; height: 100px" src="{{ baseFile + item }}" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngFor="let pic of itemSimilarView ? itemSimilarView.listPicturesRs : []" class="item">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div (click)="changePicture(item)" *ngFor="let item of pic" class="col-md-3 col-sm-6">
                      <img class="pic-prod" style="width: 100px; height: 100px" src="{{ baseFile + item }}" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal view content -->
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="aa-product-view-content">
          <h3>{{ itemSimilarView ? itemSimilarView.name : '' }}</h3>
          <div class="row">
            <div class="col-md-6">
              <p style="float: left">
                Lượt xem:
                <nz-tag [nzColor]="'#108ee9'">{{ itemSimilarView ? itemSimilarView.visitCount : '' }}</nz-tag>
              </p>
            </div>
            <div class="col-md-6">
              <p style="float: right" class="aa-product-avilability">Trạng thái: <nz-tag [nzColor]="'green'">Còn hàng </nz-tag></p>
              <div
                class="fb-like"
                [attr.href]="urlComment"
                data-width=""
                data-layout="standard"
                data-action="like"
                data-size="small"
                data-share="true"
              ></div>
            </div>
          </div>
          <nz-rate [ngModel]="itemSimilarView.rating" nzDisabled></nz-rate>
          <br />
          <span class="text-label">Giá bán: </span><span class="text-price">{{ itemSimilarView.price | currency: 'VND' | lowercase }}</span>
          <br />
          <span class="text-label">Giá khuyến mãi:</span>
          <span class="text-price-discount"> {{ itemSimilarView.price - itemSimilarView.discount | currency: 'VND' | lowercase }}</span>
          <br />
          <span class="text-label">Thông tin sảm phẩm: </span>
          <span>{{ itemSimilarView ? itemSimilarView.summary : '' }}</span>
          <br />
          <span class="text-label">Thời gian bảo hành: </span>
          <span class="text-price-discount">{{
            itemSimilarView ? itemSimilarView.thoiGianBaoHanh + ' ' + itemSimilarView.loaiBaoHanh : ''
          }}</span>
          <br />
          <br />
          <div class="aa-prod-quantity">
            <p class="aa-prod-category">
              <span class="text-label">Loại sản phẩm: </span
              ><a *ngFor="let item of itemSimilarView ? itemSimilarView.categoryName : []" href="#">
                <nz-tag [nzColor]="'#f50'">{{ item }}</nz-tag>
              </a>
            </p>

            <p class="aa-prod-category">
              <span class="text-label">Tag: </span
              ><a *ngFor="let item of itemSimilarView ? itemSimilarView.tagName : []" href="#">
                <nz-tag [nzColor]="'lime'">{{ item }}</nz-tag>
              </a>
            </p>
          </div>
          <span class="text-label">Thông tin bổ sung: </span>
          <div class="row">
            <div class="col-md-12">
              <nz-table [nzPageSize]="5" #basicTable [nzData]="itemSimilarView ? itemSimilarView.listCategoryMetaProducts : []">
                <thead>
                  <tr>
                    <th>Mã</th>
                    <th>Nội dung</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of itemSimilarView ? basicTable.data : []">
                    <td>{{ data.categoryMetaName }}</td>
                    <td>{{ data.content }}</td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </div>
          <div class="item-center aa-prod-view-bottom">
            <a (click)="addToCart(itemSimilarView)" href="javascript:void(0)" style="margin-right: 20px" class="aa-add-to-cart-btn"
              ><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a
            >
            <a href="javascript:void(0)" (click)="viewDetail(itemSimilarView.code)" class="aa-add-to-cart-btn">Xem chi tiết</a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancel()" nzType="danger">Đóng</button>
  </div>
</nz-modal>
