.icon-bar {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 999999;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.hotline-fixed {
  position: fixed;
  bottom: 24px;
  left: 24px;
  display: block;
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: inherit;
  font-size: 33px;
  line-height: 1.8;
  text-align: center;
  background: #f21d0e;
  border-radius: 50px;
}
.icon-bar a {
  display: block;
  padding: 16px;
  color: white;
  font-size: 20px;
  text-align: center;
  transition: all 0.3s ease;
}

.icon-bar a :hover {
  color: black;
}

#facebook {
  color: white;
  background: #3b5998;
}

#twitter {
  color: white;
  background: #55acee;
}

#google {
  color: white;
  background: #dd4b39;
}

#linkedin {
  color: white;
  background: #007bb5;
}

#youtube {
  color: white;
  background: #b00;
}
#messager {
  background-image: linear-gradient(to bottom right, #d143a7, #6153f2);
}
