<!-- Testimonial -->
<section id="aa-testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-testimonial-area">
          <div class="container bootstrap snippets bootdey">
            <div class="row">
              <div class="col-md-10 offset-md-1" data-wow-delay="0.2s">
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                  <!-- Bottom Carousel Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#quote-carousel" data-slide-to="0" class="active">
                      <img class="img-responsive" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" />
                    </li>
                    <li data-target="#quote-carousel" data-slide-to="1">
                      <img class="img-responsive" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" />
                    </li>
                    <li data-target="#quote-carousel" data-slide-to="2">
                      <img class="img-responsive" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" />
                    </li>
                  </ol>

                  <!-- Carousel Slides / Quotes -->
                  <div class="carousel-inner text-center">
                    <!-- Quote 1 -->
                    <div class="item active">
                      <blockquote>
                        <div class="row">
                          <div class="col-sm-8 col-sm-offset-2">
                            <p>
                              Tôi tin rằng đây là những gì doanh nghiệp của tôi cần để đi đến bước tiếp theo. Giao diện mới này sẽ nói lên
                              nhiều điều với những người đang xem trang web của tôi. Tôi không thể chờ đợi để xem những gì người khác nghĩ
                              về nó, và tôi rất phấn khích về việc tốt hơn là một sự phản ánh công việc của tôi nó sẽ được.
                            </p>
                            <small>Minh Vũ Software Engineer</small>
                          </div>
                        </div>
                      </blockquote>
                    </div>
                    <!-- Quote 2 -->
                    <div class="item">
                      <blockquote>
                        <div class="row">
                          <div class="col-sm-8 col-sm-offset-2">
                            <p>
                              Bạn có nhớ cửa hàng sách trông có vẻ sơ sài ở góc thị trấn không? Tôi đã đến đó hôm trước và họ có một số tài
                              liệu thật tuyệt vời. Tôi chắc chắn sẽ quay trở lại”.
                            </p>
                            <small>Cristiano Ronaldo</small>
                          </div>
                        </div>
                      </blockquote>
                    </div>
                    <!-- Quote 3 -->
                    <div class="item">
                      <blockquote>
                        <div class="row">
                          <div class="col-sm-8 col-sm-offset-2">
                            <p>
                              Tôi tin rằng đây là những gì doanh nghiệp của tôi cần để đi đến bước tiếp theo. Giao diện mới này sẽ nói lên
                              nhiều điều với những người đang xem trang web của tôi. Tôi không thể chờ đợi để xem những gì người khác nghĩ
                              về nó, và tôi rất phấn khích về việc tốt hơn là một sự phản ánh công việc của tôi nó sẽ được.
                            </p>
                            <small>Trần đức bo</small>
                          </div>
                        </div>
                      </blockquote>
                    </div>
                  </div>

                  <!-- Carousel Buttons Next/Prev -->
                  <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                  <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Testimonial -->
